body {
    font-family: "Calibri";
    overflow-y: none;
    background-color: #f7f7f7; 
}

#header {
    background-color: #eeeeee;
    height: 59px;
    padding-top: 1px;
    padding-left: 15px;
    margin-top: -8px;
    margin-left: -8px;
}

#file2 {
    background-color: #eeeeee;
}
#snap2{

    background-color: #eeeeee;
    border:1px solid #bbbbbb;
    height:40px;
    width:80px;
    cursor: pointer;
    float: right;
}
#bodycontent
{
    width:340px;
}